*{
  background-color:#171717;
}

#Title{
  color:white;
  font-family:"HelveticaNeue";
  font-weight:lighter;
  text-align:center;
}

#lastfm,#steam{
  text-decoration:none;
  color:#00FFFF;
  font-family:"HelveticaNeue";
  text-align:center;
}

p{
  text-align:center;
}

#links{
  margin-left:auto;
  margin-right:auto;
  float:bottom;
  border:2px;
}

#lastfmp{
  border-radius:2px;
}
