*{
  background-color: #171717;
}

p{
  color: white;
  text-align: center;
  font-family: "HelveticaNeue";
  font-weight: 100;
}

div{
  height: 40em;
  width: 20em;
  background-color: blue;
  float: left;
}
