#Title{
  color:white;
  font-family:"HelveticaNeue";
  font-weight:lighter;
  text-align:center;
}

#lastfm{
  text-decoration:none;
  color:white;
  font-family:"HelveticaNeue";
  text-align:center;
}
